/**************************
 PFX SMH CUSTOM USER STYLES
 **************************/

/** GENERAL **/

html#pfx {}

#layout-main {}

#pfx .cl-flex-container {
	padding: .3rem 0;
	padding: 0;
}

#pfx .cl-h-line-divider:before {
	/* content: "-"; */
	padding: 0 .05rem;
}

/** TAGS **/


tag-names .cl-badge {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 160px;
	
	white-space: break-spaces;
	text-align: right;
	padding: 0.1rem;
	background:none;
	
	min-height: 41px;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
  align-items: center;
}

tag-names .cl-badge .ng-star-inserted {
	background: #f2f9ff;
	margin: 0.15em 0.2em;
	margin: 0.18em 0.3em;
	padding: 3px 1px 1px 4px;
	position: relative;
	white-space: nowrap;
	box-sizing: border-box;
	display: inline-block;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 154px;
	vertical-align: middle;
}
tag-names .cl-badge .ng-star-inserted + .ng-star-inserted {
	margin-left: 0.12em;
}
tag-names .cl-badge .ng-star-inserted::after {
	content:"";
	background: inherit;
	position:absolute;
	right:0; top:0; bottom:0;
	width: 3px;
}
tag-names .cl-badge .ng-star-inserted:last-child {
	padding-right:4px;
}


/** TAGS dropdown **/

.cl-dropdown-item .cl-cut-text {
	white-space: break-spaces;
}
.cl-dropdown-item .cl-custom-control-label {
	padding-top: .2rem;
	padding-bottom: .2rem;
	padding-right: .3rem;
}
.cl-dropdown-item-checkbox .cl-custom-control-label { 
	font-size: 13px;
}

.cl-dropdown-item-checkbox .cl-custom-control-label:before,
.cl-dropdown-item-checkbox .cl-custom-control-label:after {
	top: .22rem;
}


/** Time Tracker - general **/

#pfx .cl-tracker-entry .cl-component-divided-left {
	padding-left: .4286rem;
	padding-right: .4286rem;
}

#pfx .cl-tracker-entry .cl-form-control {
	padding: .2rem .02rem .2rem 0.6rem; 
	margin-top: -1px !important;
	margin-bottom: -1px !important;
	/* height: 100% !important; */
	min-height: 43px !important;
}

/** Time Tracker - specific fields **/

.cl-tracker-entry .cl-badge-same-entries-wrapper {
	order:2;
}

.cl-tracker-entry .cl-badge-same-entries-wrapper .cl-badge-same-entries {
	margin: 0 0.1rem 0 0.3rem;
}

.cl-tracker-entry .cl-description-col {
	min-width: 100px;
	padding-left: .3143rem;
	padding-left: 0;
	margin-left:-1px;
}

.cl-project-col {}


.cl-tracker-entry a.cl-listing-project-client {
	font-size: 0.9em;
	line-height: 0.7rem;
}
.cl-tracker-entry a.cl-listing-project-client .cl-listing-client {
	display: block;
	font-size: 0.8em;
}

a.cl-listing-project-client .cl-entry__project__dot,
a.cl-listing-project-client .cl-h-line-divider,
a.cl-listing-project-client[title*="Project: Seer "] .cl-listing-client {
	display:none;
}

a.cl-listing-project-client[title*="Project: Seer Internal"][title*="Task: Admin"] > .cl-locked-no-underline,
a.cl-listing-project-client[title*="Project: Seer Internal"][title*="Task: Meetings"] > .cl-locked-no-underline {
	font-size: .0009%;
	text-transform: uppercase;
}

a.cl-listing-project-client[title*="Project: Seer Internal"][title*="Task: Admin"] > .cl-locked-no-underline::before {
	font-size: 10000000%;
	content: "Admin";
}
a.cl-listing-project-client[title*="Project: Seer Internal"][title*="Task: Meetings"] > .cl-locked-no-underline::before {
	font-size: 10000000%;
	content: "Meeting";
}




.cl-tracker-entry .cl-tag-col {
	min-width: 20px;
}


/* show tags on smaller screens - new entry bar (at top) */
@media (min-width: 992px) {
	.cl-time-tracker-recorder tag-names .cl-d-none {
		display: flex !important;
	}
		.cl-time-tracker-recorder tag-names .cl-d-none .cl-badge {
			display: block;
			width: 100%;
			text-align: center;
			max-width: 100%;
		}
	.cl-time-tracker-recorder tag-names .cl-d-flex {
		display: none !important;
	}

	.cl-time-tracker-recorder .cl-timetracker-entry-actions > .cl-dropdown {
		padding: 0;
	}
	.cl-time-tracker-recorder .cl-timetracker-entry-actions .cl-dropdown-toggle,
	.cl-time-tracker-recorder .cl-timetracker-entry-actions .cl-dropdown-toggle .cl-badge {
		height: 41px;
	}

	.cl-time-tracker-recorder .cl-timetracker-entry-actions .cl-dropdown-toggle .cl-badge {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#pfx .cl-time-tracker-recorder billable-icon {
		width: 40px;
	}
}
/* show tags on smaller screens  - rows */
@media (min-width: 992px){
	.cl-tag-col tag-names .cl-d-lg-custom-none {
		display: none !important;
	}
	.cl-tag-col tag-names .cl-d-lg-custom-flex {
		display: flex !important;
	}
}
	
/*
.cl-col-fixed
	billable-icon
	single-date-picker2
	.cl-input-time-wrapper.cl-entry-duration
*/

.cl-tracker-entry .cl-input-time-picker {
	width: 62px;
	padding: 0 2px !important;
}
#pfx .cl-tracker-entry .recorder-date-picker {
	margin-left: -0.2rem !important;
}

@media (min-width: 992px) {
	#layout-main .cl-tracker-entry .cl-input-time-picker-sum {
		width: 62px;
	}
}

#pfx .cl-tracker-entry .cl-input-time-wrapper {
	padding-right: 0;
}

#pfx .cl-tracker-entry [title="Continue timer for this activity"] {
	margin: -1px 0;
}
#pfx .cl-tracker-entry [title="Continue timer for this activity"]:hover {
	background: #d1fabd;
}

#pfx .cl-tracker-entry .cl-component-divided-left:before {display:none!important}
#pfx .cl-tracker-entry .cl-tree-dots > [dropdownkeybutton] { padding: 0 1rem }
#pfx .cl-tracker-entry .cl-tree-dots > [dropdownkeybutton]::before { margin-right: 1rem }



/*@media (min-width: 992px) {
	parent-tracker-entry .cl-input-time-picker-sum, 
	time-tracker-entry .cl-input-time-picker-sum, 
	time-tracker-recorder .cl-input-time-picker-sum {
		width: 92px;
	}
}*/